<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("components/head", {
    title: "SparkV | Dashboard",
    desc: "SparkV is the most POWERFUL multipurpose Discord bot with NO PAYWALL! Start powering your Discord server without spending a dime.",
    keywords: "SparkV, Spark, Powerful, Bot, Multipurpose, Free, Free Bot, Free Discord Bot, King, Ch1ll, KingChill, Chill, Discord"
  }) %>
</head>

<body>
  <%- include("components/load") %>

  <%- include("components/navbar", {
      title: "SparkV",
      logoURL: "/assets/images/SparkV.webp",
      navItems: {
        Welcome: {
          type: "link",
          href: "#welcome",
        },
        Guilds: {
          type: "link",
          href: "#guild_settings"
        }
      },
      buttons: {
        Login: {
          href: "/api/auth/login",
          icon: "fas fa-user"
        }
      }
    }) %>
  
  <div class="container-fluid" id="dashboard" style="margin-top: 3.5rem;">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background: var(--sparkv-dark);">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white" style="font-size: large;font-weight: 600;text-shadow: 0px 8px 13px rgb(0 0 0 / 50%);text-decoration: none;">
                  <img src="<%- guild.icon ? `https:\//cdn.discordapp.com/icons/${guild.id}/${guild.icon}.webp` : `https:\//support.discord.com/hc/user_images/l12c7vKVRCd-XLIdDkLUDg.webp` %>" style="border-radius: 50%;height: 40px;width: 40px;margin: 5px auto 5px;box-shadow: 0px 8px 13px rgb(0 0 0 / 50%);position: relative;margin-inline-end: 8px;"/>
                  <span class="fs-5 d-none d-sm-inline"><%- guild.name %></span>
                </a>
                <ul class="nav nav-tabs mb-3 justify-content-center flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item" role="presentation" style="width: 100%;">
                    <a class="nav-link align-middle px-0" id="sett-tab-1" data-bs-toggle="tab" href="#sett-tabs-1" role="tab" aria-controls="sett-tabs-1" aria-selected="true">
                      <i class="fs-4 fas fa-gear text-white" style="vertical-align: sub;margin-left: 10px;margin-right: 10px;"></i>
                      <span class="ms-1 d-none d-sm-inline text-white" style="font-size: medium;font-weight: 500;vertical-align: unset;margin-right: 10px;">Settings</span>
                    </a>
                  </li>
                  <li class="nav-item" role="presentation" style="width: 100%;">
                    <a class="nav-link align-middle px-0" id="sett-tab-2" data-bs-toggle="tab" href="#sett-tabs-2" role="tab" aria-controls="sett-tabs-2" aria-selected="false">
                      <i class="fs-4 fas fa-shield text-white" style="vertical-align: sub;margin-left: 10px;margin-right: 5px;"></i>
                      <span class="ms-1 d-none d-sm-inline text-white" style="font-size: medium;font-weight: 500;vertical-align: unset;margin-right: 10px;">Auto Mod</span>
                    </a>
                  </li>
                  <li class="nav-item" role="presentation" style="width: 100%;">
                    <a class="nav-link align-middle px-0" id="sett-tab-3" data-bs-toggle="tab" href="#sett-tabs-3" role="tab" aria-controls="sett-tabs-3" aria-selected="false">
                      <i class="fs-4 fas fa-hand-sparkles text-white" style="vertical-align: sub;margin-left: 10px;margin-right: 5px;"></i>
                      <span class="ms-1 d-none d-sm-inline text-white" style="font-size: medium;font-weight: 500;vertical-align: unset;margin-right: 10px;">Welcome & Leave</span>
                    </a>
                  </li>
                  <li class="nav-item" role="presentation" style="width: 100%;">
                    <a class="nav-link align-middle px-0" id="sett-tab-4" data-bs-toggle="tab" href="#sett-tabs-4" role="tab" aria-controls="sett-tabs-4" aria-selected="false">
                      <i class="fs-4 fas fa-circle-arrow-up text-white" style="vertical-align: sub;margin-left: 10px;margin-right: 5px;"></i>
                      <span class="ms-1 d-none d-sm-inline text-white" style="font-size: medium;font-weight: 500;vertical-align: unset;margin-right: 10px;">Leveling</span>
                    </a>
                  </li>
                  <!--
                  <li>
                    <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                      <i class="fs-4 bi-bootstrap"></i>
                      <span class="ms-1 d-none d-sm-inline">Dropdown</span></a>
                      
                      <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                        <li class="w-100">
                          <a href="#" class="nav-link px-0">
                            <span class="d-none d-sm-inline">Item</span>
                            1
                          </a>
                        </li>
                        <li>
                          <a href="#" class="nav-link px-0">
                            <span class="d-none d-sm-inline">Item</span>
                            2
                          </a>
                        </li>
                      </ul>
                    </li>
                </ul>
                -->
            </div>
        </div>
        <div class="col py-5 tab-content text-center justify-content-center" id="TabsContent" style="background: #111b35;">
          <!-- Content Area -->
          <% if (alert) { %>
            <%-  %>
            <div class="alert alert-<%- alert.type %>" role="alert"><%- alert.message %></div>
          <% } %>

          <div class="tab-pane text-white fade show active" id="sett-tabs-1" role="tabpanel" aria-labelledby="sett-tab-1">
            <form method="POST" role="form" action="/dashboard/<%- guild.id %>">
              <h1 class="fw-bold pb-2">
                <i class="fas fa-gear"></i>
                Settings
              </h1>
              <p style="font-style: italic;" class="disabled">SparkV's settings for your server.</p>
              <div class="container row justify-content-center mx-auto text-center pb-5">
                <%- include("components/fields/dropdown", {
                  id: "language",
                  name: "Language",
                  desc: "The language SparkV will speak.",
                  value: settings.language,
                  values: {
                    "🇺🇸 English": {
                      id: "en"
                    },
                    "🇪🇸 Spanish": {
                      id: "es"
                    },
                    "🇫🇷 French": {
                      id: "fr"
                    },
                    "🇩🇪 German": {
                      id: "de"
                    },
                    "🇮🇹 Italian": {
                      id: "it"
                    },
                    "🇳🇱 Dutch": {
                      id: "nl"
                    },
                    "🇵🇹 Portuguese": {
                      id: "pt"
                    },
                    "🇷🇺 Russian": {
                      id: "ru"
                    },
                  }
                }) %>

                <%- include("components/fields/dropdown", {
                  id: "chatbot",
                  name: "Chatbot",
                  desc: "SparkV will talk to you. WARNING: THIS FEATURE IS IN BETA.",
                  value: settings.plugins.chatbot,
                  values: {
                    "Disabled": {
                      id: "false"
                    },
                    "Mention": {
                      id: "mention"
                    },
                    "Message": {
                      id: "message"
                    }
                  }
                }) %>
              </div>
       
              <button type="submit" class="btn btn-secondary text-white fw-bold" onclick="spinner(this)">Save</button>
            </form>
          </div>

          <div class="tab-pane text-white fade" id="sett-tabs-2" role="tabpanel" aria-labelledby="sett-tab-2">
            <form method="POST" role="form" action="/dashboard/<%- guild.id %>">
              <h1 class="fw-bold pb-2">Auto Moderator</h1>
              <p style="font-style: italic;" class="disabled">Automatically moderate your server!</p>

              <div class="container row justify-content-center mx-auto text-center pb-5">
                <%- include("components/fields/dropdown", {
                  id: "automod_removeLinks",
                  name: "Delete Links",
                  desc: "When enabled, SparkV will remove all links sent UNLESS that user has the MANAGE_MESSAGES permission.",
                  value: settings.plugins.automod.removeLinks,
                  values: {
                    "Enabled": {
                      id: "true"
                    },
                    "Disabled": {
                      id: "false"
                    },
                  }
                }) %>

                <%- include("components/fields/dropdown", {
                  id: "automod_removeProfanity",
                  name: "Delete Text Profanity",
                  desc: "When enabled, SparkV will remove bad words sent UNLESS that user has the MANAGE_MESSAGES permission.",
                  value: settings.plugins.automod.removeProfanity,
                  values: {
                    "Enabled": {
                      id: "true"
                    },
                    "Disabled": {
                      id: "false"
                    },
                  }
                }) %>

                <%- include("components/fields/dropdown", {
                  id: "automod_removeDuplicateText",
                  name: "Delete Duplicated Text (Spam)",
                  desc: "When enabled, SparkV will remove remove duplicated text (Spam) UNLESS that user has the MANAGE_MESSAGES permission.",
                  value: settings.plugins.automod.removeDuplicateText,
                  values: {
                    "Enabled": {
                      id: "true"
                    },
                    "Disabled": {
                      id: "false"
                    },
                  }
                }) %>
               </div>

              <button type="submit" class="btn btn-secondary text-white fw-bold" onclick="spinner(this)">Save</button>
            </form>
          </div>

          <div class="tab-pane text-white fade" id="sett-tabs-3" role="tabpanel" aria-labelledby="sett-tab-3">
            <form method="POST" role="form" action="/dashboard/<%- guild.id %>">
              <div class="container row justify-content-center mx-auto text-center pb-5">
              <h1 class="fw-bold pb-2">Welcome</h1>
              <p style="font-style: italic;" class="disabled">Welcome users to your server!</p>
                <!--
                <div class="accordion justify-content-center mx-auto" id="sc" style="padding: 0px 20px;max-width: 750px;">
                  <div class="accordion-item shadow mb-3">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button text-white fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color: var(--bs-primary);">Server Control</button>
                    </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#sc" style="background-color: var(--bs-secondary);">
                    <div class="accordion-body row justify-content-center">
                      <div class="col-5 card text-center m-3" style="background: var(--bs-primary);border-radius: 10px;width: 430px;position: relative;padding: 20px 20px 20px 12px;font-family: Rubik, sans-serif;">
                        <div class="row g-0">
                          <div class="col-md-4">
                           <img src="/assets/images/wave_emoji.png" style="z-index: 2;border-radius: 50%;height: 150px;width: 150px;margin: 36px auto 36px;box-shadow: 0px 8px 13px rgb(0 0 0 / 50%);position: relative;" class="card-img-top"/>
                          </div>
                          <div class="col-md-8">
                            <div class="card-body text-white">
                              <h5 class="card-title">Welcome & Leave</h5>
                              <p class="card-text">Give a friendly welcome/goodbye to users!</p>
                            <div class="card-text">
                              <a href="/dashboard/763803059876397056/welcome" class="btn btn-secondary text-white fw-bold" onclick="spinner(this)">Manage</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                -->
              <%- include("components/fields/dropdown", {
                id: "welcome_enabled",
                name: "Welcome Enabled",
                desc: "Whether welcome is enabled or not.",
                value: settings.plugins.welcome.enabled,
                values: {
                  "Enabled": {
                    id: "true"
                  },
                  "Disabled": {
                    id: "false"
                  },
                }
              }) %>

              <%- include("components/fields/role", {
                id: "welcome_roles",
                name: "Welcome Roles",
                desc: "The role(s) to give the user when they join.",
                value: settings.plugins.welcome.roles,
                multiple: true
              }) %>

              <%- include("components/fields/textarea", {
                id: "welcome_message",
                name: "Welcome Message",
                desc: "The message that will send. Variables: {mention}, {member}, {tag}, {username}, {server}, {members}.",
                value: settings.plugins.welcome.message
              }) %>

              <%- include("components/fields/channel", {
                id: "welcome_channel",
                name: "Welcome Channel",
                desc: "The channel for the welcome messages to send.",
                value: settings.plugins.welcome.channel,
                guild
              }) %>
            </div>

            <hr/>

            <div class="container row justify-content-center mx-auto text-center pb-5">
              <h1 class="fw-bold pb-2">Goodbye</h1>
              <p style="font-style: italic;" class="disabled">Say goodbye to users leaving your server!</p>

              <%- include("components/fields/dropdown", {
                id: "goodbye_enabled",
                name: "Goodbye Enabled",
                desc: "Whether SparkV should say goodbye is enabled or not.",
                value: settings.plugins.goodbye.enabled,
                values: {
                  "Enabled": {
                    id: "true"
                  },
                  "Disabled": {
                    id: "false"
                  },
                }
              }) %>

              <%- include("components/fields/textarea", {
                id: "goodbye_message",
                name: "Goodbye Message",
                desc: "The message that will send. Variables: {mention}, {member}, {tag}, {username}, {server}, {members}.",
                value: settings.plugins.goodbye.message
              }) %>

              <%- include("components/fields/channel", {
                id: "goodbye_channel",
                name: "Goodbye Channel",
                desc: "The channel for the goodbye messages to send.",
                value: settings.plugins.goodbye.channel,
                guild
              }) %>
            </div>

              <button type="submit" class="btn btn-secondary text-white fw-bold" onclick="spinner(this)">Save</button>
            </form>
          </div>
          <div class="tab-pane text-white fade" id="sett-tabs-4" role="tabpanel" aria-labelledby="sett-tab-4">
            <form method="POST" role="form" action="/dashboard/<%- guild.id %>">
              <h1 class="fw-bold pb-2">Leveling</h1>
              <p style="font-style: italic;" class="disabled">Allow users to level up in your server!</p>

            <div class="container row justify-content-center mx-auto text-center pb-5">
              <%- include("components/fields/dropdown", {
                id: "leveling_enabled",
                name: "Leveling Enabled",
                desc: "Whether leveling is enabled or not.",
                value: settings.plugins.leveling.enabled,
                values: {
                  "Enabled": {
                    id: "true"
                  },
                  "Disabled": {
                    id: "false"
                  },
                }
              }) %>

              <%- include("components/fields/textarea", {
                id: "leveling_message",
                name: "Level Up Message",
                desc: "The message that will send when a user levels up. Variables: {author}, {level}.",
                charLimit: "150",
                value: settings.plugins.leveling.message
              }) %>

              <%- include("components/fields/channel", {
                id: "leveling_channel",
                name: "Leveling Channel",
                desc: "The channel for the level up messages to send. Set to disabled for the message to send to the channel where the user levels up.",
                value: settings.plugins.leveling.channel,
                guild
              }) %>
              </div>

              <button type="submit" class="btn btn-secondary text-white fw-bold" onclick="spinner(this)">Save</button>
            </form>
          </div>

        </div>
      </div>
    </div>

  <%- include("components/footer", {
    title: "SparkV - The Powerful Multipurpose Discord Bot",
    desc: "SparkV is the most POWERFUL multipurpose Discord bot with NO PAYWALL! Start powering your Discord server without spending a dime.",
    footerTable: {
      Company: {
        "Terms of Service": {
          href: "/tos"
        },
        "Privacy Policy": {
          href: "/privacy"
        }
      }
    }
  }) %>
  
  <a href="#" class="back-to-top shadow btn-secondary rounded-circle" id="back-to-top">
    <i class="fa fa-angle-up"></i>
  </a>

  <%- include("components/scripts") %>
</body>

</html>