<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("components/head", {
    title: "404 - Not Found | SparkV",
    desc: "Uh oh! The page you were looking for wasn't found. SparkV is the most POWERFUL multipurpose Discord bot with NO PAYWALL! Start powering your Discord server without spending a dime.",
    keywords: "sparkv_404_page"
  }) %>
</head>

<body>
  <%- include("components/load") %>

  <%- include("components/navbar", {
      title: "SparkV",
      logoURL: "/assets/images/SparkV.webp",
      navItems: {
          Home: {
            type: "link",
            href: "/",
          },
          ["Support Server"]: {
            type: "link",
            href: "https://www.sparkv.tk/support"
          },
          Status: {
            type: "link",
            href: "https://status.sparkv.tk/"
          },
      },
      buttons: {
        Login: {
          href: "/api/auth/login",
          icon: "fas fa-user"
        }
      }
    }) %>

  <!-- Hero -->
  <section id="home" class="hero aos-init aos-animate">
    <div class="container">
      <div class="row align-items-center text-white">
        <div class="col-md-6 heroContainer text-start">
          <h1 class="display-2">
            <span class="display-2_title">404 - Not Found</span>
            <span class="display-2_desc lh-base">Looks like you're lost! Don't worry, we'll bring you back.</span>
          </h1>

          <a type="button" class="rounded-pill btn-rounded" href="javascript:history.back()">
            Back
            <span><i class="fas fa-arrow-right"></i></span>
          </a>

          <a type="button" class="rounded-pill btn-rounded" href="/">
            Home
            <span><i class="fas fa-home"></i></span>
          </a>
        </div>
        <div class="col-md-6 heroContainer text-end">
          <div class="hero-img">
            <img src="assets/images/404.svg" alt="" class="img-fluid img-perspective-reverse" />
          </div>
        </div>
      </div>
    </div>
    <svg xmlns="http:https://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ffffff" fill-opacity="1"
        d="M0,160L48,176C96,192,192,224,288,208C384,192,480,128,576,133.3C672,139,768,213,864,202.7C960,192,1056,96,1152,74.7C1248,53,1344,107,1392,133.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </section>

  <%- include("components/footer", {
    title: "SparkV - The Powerful Multipurpose Discord Bot",
    desc: "SparkV is the most POWERFUL multipurpose Discord bot with NO PAYWALL! Start powering your Discord server without spending a dime.",
    footerTable: {
      Company: {
        "Terms of Service": {
          href: "/tos"
        },
        "Privacy Policy": {
          href: "/privacy"
        }
      }
    }
  }) %>
  
  <%- include("components/scripts") %>
</body>

</html>