<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("components/head", {
    title: "Donate | SparkV",
    desc: "SparkV is the most POWERFUL multipurpose Discord bot with NO PAYWALL! Start powering your Discord server without spending a dime.",
    keywords: "SparkV Donate, Donate, SparkV, Spark, Powerful, Bot, Multipurpose, Free, Free Bot, Free Discord Bot, King, Ch1ll, KingChill, Chill, Discord"
  }) %>2
</head>

<body>
  <%- include("components/load") %>

  <%- include("components/navbar", {
      title: "SparkV",
      logoURL: "/assets/images/SparkV.WebP",
      navItems: {
          Home: "#home",
          Features: "#features",
          Reviews: "#reviews"
      },
      buttons: {
        Login: {
          href: "/api/auth/login",
          icon: "fab fa-discord"
        }
      }
    }) %>

  <!-- Hero -->
  <section id="home" class="hero aos-init aos-animate">
    <div class="container pb-5">
      <div class="row align-items-center text-white">
        <div class="col-md-6 text-start">
          <h1 class="display-2">
            <span class="display-2_title animate__animated animate__rotateIn">SparkV - Donate</span>
            <span class="display-2_desc lh-base animate__animated animate__zoomInUp">The Powerful Multipurpose Discord
              Bot - Powered by Donations</span>
          </h1>

          <a type="button" class="rounded-pill btn-rounded animate__animated animate__tada" href="/dashboard">
            <span><i class="fas fa-download"></i></span>
            Add to Discord
          </a>
          <a type="button" class="rounded-pill btn-rounded animate__animated animate__tada" href="/community">
            <span><i class="fas fa-users"></i></span>
            Community Server
          </a>
        </div>
      </div>
    </div>

    <div class="footer-sm" id="companies" style="background-color: #5f6aff;">
      <div class="container">
        <div class="row py-4 text-center text-white">
          <h4 class="col-lg-5 col-md-6 mb-4 mb-md-0">Powered By These Fantastic Top Donators</h4>
          <div class="col-lg-7 col-md-6">
            <a><img src="assets/images/ch1ll_studio_icon.WebP" alt="Ch1ll Studio" style="border-radius: 10px;"
                height="48" width="48"></a>
            <a><img src="assets/images/discord_bots_icon.WebP" alt="Discord Bots" style="border-radius: 10px;"
                height="48" width="48"></a>
            <a><img src="assets/images/AssistantsCenter.webp" alt="Assistants Center" style="border-radius: 10px;"
                height="48" width="48"></a>
            <a><img src="assets/images/infinity_bot_list_icon.WebP" alt="Infinity Bot List" style="border-radius: 10px;"
                height="48" width="48"></a>
          </div>
        </div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ffffff" fill-opacity="1"
        d="M0,160L48,176C96,192,192,224,288,208C384,192,480,128,576,133.3C672,139,768,213,864,202.7C960,192,1056,96,1152,74.7C1248,53,1344,107,1392,133.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </section>

  <!-- Features -->
  <section id="features" class="overflow-hidden aos-init aos-animate">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 px-5" data-aos="zoom-in">
      <div class="col-10 col-sm-8 col-lg-6">
        <img data-aos="fade-up" src="assets/images/sparkv_music.WebP" class="d-block mx-lg-auto img-fluid"
          alt="Bootstrap Themes" width="400" height="300" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3" data-aos="fade-up">
          <a style="color: #3c57f3">Quality</a> Music
        </h1>
        <p class="lead" data-aos="fade-up">SparkV has <a style="color: blue">high quality</a> music. Perfect for karaoke
          night!</p>
      </div>
    </div>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 px-5">
      <div class="col-lg-6">
        <h1 data-aos="fade-up" class="display-5 fw-bold lh-1 mb-3">Fun & Games</h1>
        <p data-aos="fade-up" class="lead">SparkV contains many fun/game commands that will keep your server active!</p>
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img data-aos="fade-up" src="assets/images/gaming.svg" class="d-block mx-lg-auto img-fluid"
          alt="Bootstrap Themes" width="400" height="300" loading="lazy">
      </div>
    </div>
  </section>

  <!-- Reviews -->
  <section id="reviews" class="reviews">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#fff" fill-opacity="1"
        d="M0,96L48,128C96,160,192,224,288,213.3C384,203,480,117,576,117.3C672,117,768,203,864,202.7C960,203,1056,117,1152,117.3C1248,117,1344,203,1392,245.3L1440,288L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
      </path>
    </svg>
    <div class="container">
      <div class="row text-center text-white">
        <h1 data-aos="fade-up" class="display-3 fw-bold">Reviews</h1>
        <hr data-aos="fade-up" class="mx-auto">
        <p data-aos="fade-up" class="lead pt-1">What my people say!</p>
      </div>

      <div data-aos="fade-up" class="row justify-content-center text-white">
        <div id="reviews_carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="reviews_card">
                <p class="lh-lg">
                  <i class="fas fa-quote-left"></i>
                  Cool Bot, i reall like the Bot
                  <i class="fas fa-quote-right"></i>
                <div class="reviews_card_ratings p-1">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                </p>
              </div>
              <div class="reviews_picture">
                <img src="assets/images/2Lost4Discord.WebP" alt="2Lost4Discord" class="rounded-circle img-fluid">
              </div>
              <div class="reviews_name">
                <h3>2Lost4Discord</h3>
                <p class="fw-light">Owner of Losti's Development</p>
              </div>
            </div>

            <div class="carousel-item">
              <div class="reviews_card">
                <p class="lh-lg">
                  <i class="fas fa-quote-left"></i>Very cool bot, it has lots of pretty cool features that you can use.
                  It also fuels my gambling addiction.<i class="fas fa-quote-right"></i>
                </p>
                <div class="reviews_card_ratings p-1">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <p></p>
              </div>
              <div class="reviews_picture">
                <img src="assets/images/EbicGamer.WebP" alt="2Lost4Discord" class="rounded-circle img-fluid">
              </div>
              <div class="reviews_name">
                <h3>The Ebic Gamer</h3>
                <p class="fw-light">Very pro gamer and is way to rich in Spark Coins.</p>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-outline-light" type="button" data-bs-target="#reviews_carousel" data-bs-slide="prev"
              alt="reviews left nav button" href="#">
              <i class="fas fa-arrow-left"></i>
            </button>
            <button class="btn btn-outline-light" type="button" data-bs-target="#reviews_carousel" data-bs-slide="next"
              alt="reviews right nav button" href="#">
              <i class="fas fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#fff" fill-opacity="1"
        d="M0,96L48,128C96,160,192,224,288,213.3C384,203,480,117,576,117.3C672,117,768,203,864,202.7C960,203,1056,117,1152,117.3C1248,117,1344,203,1392,245.3L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </section>

  <!-- Get Now -->
  <div class="footer-sm" style="background-color: black">
    <div class="container">
      <div class="row py-4 text-center text-white">
        <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
        <div class="col-lg-7 col-md-6">
          <h3 class="fw-bold">Get Now</h3>
          <p class="lead">
            <a href="https://discord.gg/" target="_blank" class="btn btn-outline-light">
              <i class="fab fa-discord"></i>
              Discord
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <%- include("components/footer", {
    title: "SparkV - The Powerful Multipurpose Discord Bot",
    desc: "SparkV is the most POWERFUL multipurpose Discord bot with NO PAYWALL! Start powering your Discord server without spending a dime.",
    footerTable: {
      test: {
        example: {
          href: "#top"
        }
      }
    }
  }) %>

  <a href="#" class="back-to-top shadow btn-secondary rounded-circle" id="back-to-top">
    <i class="fa fa-angle-up"></i>
  </a>

  <%- include("components/scripts") %>
</body>

</html>