<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("components/head", {
    title: "SparkV - The Powerful Multipurpose Discord Bot",
    desc: "SparkV is a powerful multipurpose bot that features Music, Memes, Moderation, Currency, a dope dashboard, and more.",
    keywords: "SparkV, Spark, Powerful, Bot, Multipurpose, Free, Free Bot, Free Discord Bot, King, Ch1ll, KingCh1ll, KingChill, Chill, Discord"
  }) %>
</head>

<body style="font-family: Satoshi-Regular,sans-serif;" data-aos-duration="600" data-aos-delay="0">
  <%- include("components/load") %>

  <!-- Background -->
  <div class="position-fixed w-100 h-100" style="z-index: -1;">
    <img defer class="w-100 h-100" src="/assets/images/blobs.svg" alt="Cool Blob Background" style="opacity: .4;-webkit-mask-image: linear-gradient(to top, transparent 0%, #fff 100%);object-fit: cover;">
  </div>

  <!-- Root -->
  <section class="container-md">
    <%- include("components/navbar", {
      title: "SparkV",
      logoURL: "/assets/images/SparkV.webp",
      navItems: {
          ["<i class=\"fas fa-house-chimney\"></i>Home"]: {
            type: "link",
            href: "#home",
          },
          ["<i class=\"fas fa-lightbulb\"></i>Features"]: {
            type: "link",
            href: "#features"
          },
          ["<i class=\"fas fa-handshake\"></i>Reviews"]: {
            type: "link",
            href: "#reviews"
          },
          ["<i class=\"fas fa-circle-plus\"></i>More"]: {
            type: "dropdown",
            items: {
              ["<i class=\"fas fa-sliders\"></i>Dashboard"]: {
                type: "link",
                href: "https://www.sparkv.tk/dashboard"
              },
              ["<i class=\"fas fa-book\"></i>Docs"]: {
                type: "link",
                href: "https://docs.sparkv.tk/"
              },
              ["<i class=\"fas fa-circle-question\"></i>Support"]: {
                type: "link",
                 href: "https://www.sparkv.tk/support"
              },
              ["<i class=\"fas fa-circle-exclamation\"></i>Status"]: {
                type: "link",
                href: "https://status.sparkv.tk/"
              },
            }
          },
      },
      buttons: {
        Login: {
          href: "/api/auth/login",
          icon: "fab fa-discord"
        }
      }
    }) %>

    <!-- Hero -->
    <section id="home" style="padding-top: 8rem;padding-bottom: 10rem;">
      <div class="container pb-5">
        <div class="row align-items-center text-white">
          <div class="col-md-6 text-start">
            <h1 class="display-2_title" style="width: 100%;text-align: center;font-size: xxx-large;"><%- name %></h1>
            <p style="color: #fff9;font-size: 20px;font-family: Satoshi-Regular, sans-serif;text-align: center;"><%- description %></p>
            <div class="row justify-content-center" style="display: flex;height: 100px;margin-top: 32px;">
              <a type="button" class="col-5 btn btn-info text-white fw-bold" href="/dashboard" style="height: 56px;margin-inline-end: 16px;border-radius: 8px;">
                <span>Invite SparkV</span>
              </a>

              <a type="button" class="col-5 btn btn-gray text-white fw-bold" href="#features" style="height: 56px;margin-inline-end: 16px;border-radius: 8px;">Learn More</a>
            </div>
          </div>

          <div class="col-md-6 text-end">
            <div class="video-box">
              <img defer src="assets/images/features/hero_banner.webp" alt="SparkV" class="img-fluid" style="border-radius: 15px;" draggable="false">
            </div>
          </div>
        </div>
      </div>

      <div class="footer-sm" id="companies">
        <div class="container pb-5">
          <div class="row py-4 text-center text-white">
            <h4 class="col-lg-5 col-md-6 mb-4 mb-md-0 animate__animated animate__fadeInUp">Used by Over 200 Servers</h4>
            <div class="col-lg-7 col-md-6">
              <% servers.forEach(s => { %>
                <a href="<%- s.link %>" style="margin-inline-end: 10px;">
                  <img defer class="animate__animated animate__fadeInUp" src="<%- s.icon %>" alt="<%- s.name %>" title="<%- s.name %>" style="border-radius: 10px;" height="60" width="60"/>
                </a>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Features -->
    <section id="features" style="padding-bottom: 12rem;">
      <h1 class="text-center text-white" style="font-weight: 600;">Why use SparkV?</h1>
      <p class="text-center" style="color: #fff9;font-size: 20px;font-family: Satoshi-Regular, sans-serif;text-align: center;">SparkV is loved by more than <strong>157,000</strong> users as an outstanding bot with <a class="gr-blue">Music</a>, <a class="gr-yellow">Memes</a>, <a class="gr-yellow">Money</a>, and more.</p>
      <% features.forEach(f => { %>
        <% if (f.align === "left") { %>
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5 px-5 aos-init" data-aos="zoom-in">
            <div class="col-12 col-sm-8 col-lg-6">
              <img defer data-aos="fade-up" src="<%- f.icon %>" class="w-100 mx-lg-auto img-fluid aos-init aos-animate"
          alt="<%- f.alt %>" style="border-radius:6px;max-width: 400px;">
            </div>
            <div class="col-lg-6">
              <h1 class="display-5 text-white fw-bold lh-1 mb-3" data-aos="fade-up"><%- f.title %></h1>
              <p style="color: #fff9;font-size: 20px;font-family: Satoshi-Regular, sans-serif;" data-aos="fade-up"><%- f.description %></p>
            </div>
          </div>
        <% } else if (f.align === "right") { %>
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5 px-5 aos-init" data-aos="zoom-in">
            <div class="col-lg-6">
              <h1 class="display-5 text-white fw-bold lh-1 mb-3" data-aos="fade-up"><%- f.title %></h1>
              <p style="color: #fff9;font-size: 20px;font-family: Satoshi-Regular, sans-serif;" data-aos="fade-up"><%- f.description %></p>
            </div>
            <div class="col-12 col-sm-8 col-lg-6">
              <img defer data-aos="fade-up" src="<%- f.icon %>" class="w-100 mx-lg-auto img-fluid aos-init aos-animate"
          alt="<%- f.alt %>" style="max-width: 400px;border-radius:6px;">
            </div>
          </div>
        <% } %>
      <% }); %>
    </section>

    <!-- Reviews -->
    <section id="reviews" style="padding-bottom: 18rem;background: transparent;">
      <div class="row text-center text-white">
        <h1 data-aos="fade-up" class="display-3 fw-bold aos-init aos-animate">Reviews</h1>
        <hr data-aos="fade-up" class="mx-auto aos-init aos-animate" style="color: var(--sparkv-color-2);">
      </div> 
      <div class="row justify-content-center text-center pb-5 mx-auto">
        <% reviews.forEach(r => { %>
        <div class="col-5 m-3 text-center aos-init aos-animate" style="border-radius: 6px;background: #111b35;width: 400px;border-left: solid #fff 0.3rem;padding: 15px 15px 0px 15px;" data-aos="fade-up">      
          <div style="display: flex;align-items: center;color: rgb(255, 255, 255);font-size: 18px;font-weight: 600;text-align: start;">
            <img style="height: 28px;width: 28px;border-radius: 50%;margin-inline-end: 4px;" src="<%- r.picture %>">
            <span style="vertical-align: middle;"><%- r.username %></span>
          </div>
          <p style="position: absolute;margin-top: 8px;color: rgb(209 213 219 / 0.8);"><%- r.review %></p>
          <p style="color: rgb(209 213 219 / 0.8);text-align: end;margin-inline-end: 10px;margin-top: 86px;"><%- r.role %></p>
        </div>
        <% }); %>
      </div>
    </section>

    <!-- Get Now -->
    <section id="getbot" style="padding-bottom: 10rem;">
      <div class="container aos-init aos-animate" data-aos="zoom-in" style="display: flex;padding: 80px 40px;flex-direction: column;align-items: center;">
        <h1 class="text-center text-white" style="font-size: xxx-large;">What are you waiting for?</h1>
        <p class="text-muted">Level up your server today!</p>
      
        <a type="button" class="btn text-white" href="/invite" style="font-size: 16px;height: 56px;padding-left: 40px;padding-right: 40px;background: var(--bs-blue);">Add to Discord</a>
      </div>
    </section>
  </section>

  <!-- Footer -->
  <%- include("components/footer", {
    footerTable: {
      ["As Seen On..."]: {
        "top.gg": {
          href: "https://top.gg/bot/884525761694933073"
        },
        "discordbotlist.com": {
          href: "https://discordbotlist.com/bots/sparkv"
        },
        "voidbots.net": {
          href: "https://voidbots.net/bot/884525761694933073"
        },
        "discord.bots.gg": {
          href: "https://discord.bots.gg/bots/884525761694933073"
        },
      },
      Legal: {
        "Terms of Service": {
          href: "/tos"
        },
        "Privacy Policy": {
          href: "/privacy"
        }
      }
    }
  }) %>

  <a href="#" class="back-to-top shadow btn-secondary rounded-circle" id="back-to-top">
    <i class="fa fa-angle-up"></i>
  </a>

  <!-- Service Worker
  <script type="module">
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker
          .register('./service-worker.js')
          .then(() => console.log("⚙️ | Service Worker - Now ready for offline."));
    };
  </script>
  -->

  <%- include("components/scripts") %>
</body>

</html>