<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("components/head", {
    title: "SparkV - The Powerful Multipurpose Discord Bot",
    desc: "SparkV is a powerful multipurpose bot that features Music, Memes, Moderation, Currency, and a dope dashboard.",
    keywords: "Privacy, SparkV Privacy, SparkV, Spark, Powerful, Bot, Multipurpose, Free, Free Bot, Free Discord Bot, King, Ch1ll, KingChill, Chill, Discord"
  }) %>
</head>

<body style="background-color: var(--sparkv-dark);font-family: Satoshi-Regular,sans-serif;" data-aos-duration="600" data-aos-delay="0">
  <%- include("components/load") %>

  <%- include("components/navbar", {
      title: "SparkV",
      logoURL: "/assets/images/SparkV.webp",
      navItems: {
          ["<i class=\"fas fa-house-chimney\"></i>Home"]: {
            type: "link",
            href: "/home",
          },
          ["<i class=\"fas fa-circle-plus\"></i>More"]: {
            type: "dropdown",
            items: {
              ["<i class=\"fas fa-sliders\"></i>Dashboard"]: {
                type: "link",
                href: "https://www.sparkv.tk/dashboard"
              },
              ["<i class=\"fas fa-book\"></i>Docs"]: {
                type: "link",
                href: "https://docs.sparkv.tk/"
              },
              ["<i class=\"fas fa-circle-question\"></i>Support"]: {
                type: "link",
                 href: "https://www.sparkv.tk/support"
              },
              ["<i class=\"fas fa-circle-exclamation\"></i>Status"]: {
                type: "link",
                href: "https://status.sparkv.tk/"
              },
            }
          },
      },
      buttons: {
        Login: {
          href: "/api/auth/login",
          icon: "fab fa-discord"
        }
      }
    }) %>

    <section class="hero pb-5" style="padding-left: 10px;padding-right: 10px;padding-top: 8rem;">
      <div class="row pb-5 mx-auto text-white" style="z-index: 2;background: #acae24;border-radius: 10px;max-width: 800px;border: 5px solid yellow;padding: 80px;">
        <div class="d-flex justify-content-between privacy-head" style="border-bottom: 1px solid #dee03b;margin-bottom: 40px;padding-bottom: 40px;">
          <div>
            <h1 style="font-weight: 600;">Privacy Policy</h1>

            <p style="margin-bottom: 0;font-size: 16px;color: #503b3b;">Last updated October 29th, 2021.</p>
          </div>

          <button class="btn btn-primary" style="height: 55px;" onclick="window.print()">
            <i class="fas fa-print" style="margin-inline-end: 8px;vertical-align: bottom;font-size: 20px;"></i>
            Print
          </button>
        </div>
        <p>Here at Ch1ll Studio, accessible from https://ch1lls.tk/, we respect your privacy. This Privacy Policy document contains types of information that is collected and recorded by Ch1ll Studio and how we use it. This information applies to <a href="/">Ch1ll Studio</a> and ALL of Ch1ll Studio's products (<a href="https://sparkv.tk/" target="_blank">SparkV</a>). If you have any questions or want more information on our privacy pratices, please contact us using any of our socials at the bottom of each page, including this one.</p>
        <h2>Log Files</h2>
        <p>Ch1ll Studio follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>
        <h2>Authentication</h2>
        <p>All of our services use <a href="https://discord.com/" target="_blank">Discord</a> for authentication. When you authenticate, we're given your ID and tag which is then stored in our database. While logged into our website, any action that requires an account (such as changing a setting) is also stored.</p>
        <h2>Cookies and Web Beacons</h2>
        <p>Like any other website, Ch1ll Studio uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>
        <p>For more general information on cookies, please read <a href="https://www.generateprivacypolicy.com/#cookies">"Cookies" article from the Privacy Policy Generator</a>.</p>
        <h2>Google DoubleClick DART Cookie</h2>
        <p>Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies, to serve ads to our site visitors based upon their visit to www.website.com and other sites on the internet. However, visitors may choose to decline the use of DART cookies by visiting the Google ad and content network Privacy Policy at the following URL – <a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a></p>
        <h2>Our Advertising Partners</h2>
        <p>Some of advertisers on our site may use cookies and web beacons. Our advertising partners are listed below. Each of our advertising partners has their own Privacy Policy for their policies on user data. For easier access, we hyperlinked to their Privacy Policies below.</p>
        <ul>
            <li>
                <p>Google</p>
                <p><a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a></p>
            </li>
        </ul>
        <h2>Privacy Policies</h2>
        <p>You may consult this list to find the Privacy Policy for each of the advertising partners of Ch1ll Studio.</p>
        <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on Ch1ll Studio, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
        <p>Note that Ch1ll Studio has no access to or control over these cookies that are used by third-party advertisers.</p>
        <h2>Third Party Privacy Policies</h2>
        <p>Ch1ll Studio's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. </p>
        <p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites. What Are Cookies?</p>
        <h2>Children's Information</h2>
        <p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
        <p>Ch1ll Studio does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
        <h2>Online Privacy Policy Only</h2>
        <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Ch1ll Studio. This policy is not applicable to any information collected offline or via channels other than this website.</p>
        <h2>Consent</h2>
        <p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
    </div>
</section>


  <%- include("components/footer", {
    title: "<span>Ch1ll Studio <small style=\"color: grey; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;\">Inc.</small></span>",
    desc: "We make low priced/free products that will help build the world into a better place.",
    footerTable: {
      Products: {
        SparkV: {
          href: "https://sparkv.tk/"
        }
      },
      Information: {
        "Privacy Policy": {
          href: "/privacy"
        }
      }
    }
  }) %>

  <%- include("components/scripts") %>
</body>

</html>