  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-no-scroll" style="padding: 5px;">
    <div class="container">
      <a class="navbar-brand" style="font-family: 'Poppins', sans-serif; font-weight: 700" href="/">
        <img src="<%- logoURL %>" style="border-radius: 1.5rem;width: 36px;height: 36px;" alt="Logo">
        <%- title %>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fas fa-bars"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <div class="mx-auto">
          <ul class="navbar-nav">
            <% Object.entries(navItems).forEach((navItem) => { %>
              <% if (navItem[1].type === "link") { %>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="<%- navItem[1].href %>"><%- navItem[1].image %> <%- navItem[0] %></a>
                </li>
              <% } else if (navItem[1].type === "dropdown") { %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%- navItem[0] %></a>
              
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: var(--sparkv-dark)">
                    <% Object.entries(navItem[1].items).forEach((dropItem) => { %>
                      <li>
                        <a class="dropdown-item" href="<%- dropItem[1].href %>"><%- dropItem[1].image %> <%- dropItem[0] %></a>
                      </li>
                    <% }) %>
                  </ul>
                </li>
              <% } %>
            <% }) %>
          </ul>
        </div>
        
        <% if (user) { %>
          <div class="dropdown user-dropdown my-menu">
            <button class="btn dropdown-toggle px-2 text-white" style="text-transform: none;" type="button" id="dropdown_user" data-bs-toggle="dropdown" aria-expanded="false">
              <span>
                <img src="https://cdn.discordapp.com/avatars/<%- user.id %>/<%- user.avatar %>.webp<%- user.picture -%>" style="height: 38px;width: 38px;margin-right: 5px;border-radius: 8px;" class="rounded" alt="Profile Icon">
              </span>
              <p style="align-self: center;font-size: 16px;font-weight: 600;margin-bottom: 0;">
                <span><%- user.username %></span>
                <small style="color: grey; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">#<%- user.discriminator %></small>
              </p>
            </button>

            <ul class="dropdown-menu" aria-labelledby="dropdown_user" style="background-color: var(--sparkv-dark)">
              <div class="dropdown-item">
                <a href="/user">
                  <i class="fas fa-user"></i>
                  Profile
                </a>
              </div>

              <div class="dropdown-item">
                <a href="/dashboard" class="dropdown-item text-wrap text-white text-center text-wrap fw-bold">
                  <i class="fas fa-cogs"></i>
                  Dashboard
                </a>
              </div>

              <div class="dropdown-item">
                <a href="/api/logout" style="color: red">
                  <i class="fas fa-sign-out-alt"></i>
                  Log Out
                </a>
              </div>
            </ul>
          </div>
        <% } else { %>
        <% Object.entries(buttons).forEach((button) => { %>
          <a type="button" class="btn btn-primary btn-rounded" href="<%- button[1].href %>" role="button" data-mdb-ripple-color="blue">
            <%- button[0] %>
            <span><i class="<%- button[1].icon %>"></i></span>
          </a>
        <% }) %>
      <% } %>
      </div>
    </div>
  </nav>