          <div class="col-5 m-3" style="background: var(--sparkv-dark);border-radius: 10px;padding: 20px;width: 300px;">
            <h3 class="fw-bold pb-2"><%- name %></h1>

            <div class="mx-auto" style="max-width: 280px;">
              <input id="<%- id %>" type="text" name="<%- id %>" maxlength="<%- charLimit %>" placeholder="<%- desc %>" value="<%- value %>" class="input form-control" style="height: auto;font-size: 15px;border-radius: 6px;background: var(--bs-secondary);" required>

              <p class="text-muted"><%- desc %></p>
            </div>
          </div>

          