          <div class="col-5 m-3" style="background: var(--sparkv-dark);border-radius: 10px;padding: 20px;width: 300px;">
            <h3 class="fw-bold pb-2"><%- name %></h1>

            <div class="mx-auto" style="max-width: 280px;">
              <textarea class="textarea" name="<%- id %>" id="<%- id %>" placeholder="<%- desc %>" maxlength="200" rows="4" type="text" style="height: auto;width: 280px;font-size: 15px;border-radius: 6px;background: var(--bs-secondary);"><%- value %></textarea>

              <p class="text-muted"><%- desc %></p>
            </div>
          </div>
